/* .menu-toggle {
  cursor: pointer;
}

.navbar {
  position: absolute;

  height: 100vh;
  width: 350px;

  background-color: rgba(47, 44, 49, 0.788);
  
  transition: all 0.5s ease;
}

.navbar-list {
  list-style: none;
}

.list-item {
  width: 100%;
  
  padding: 15px;
  margin-bottom: 10px;
  text-align: center;

  color: #ffffff;
  font-size: 1.1rem;
  cursor: pointer;

  transition: all 0.3s ease-in;
}

.list-item:hover {
  background-color: red;
} */